Serviços que o WebService deve fornecer na versão 0.2

//controlador professores
GET /api/professores
GET /api/professores/:id

//controlador escolas
GET /api/escolas
GET /api/escolas/:id
GET /api/escolas/:id/testes
GET /api/escolas/:id/alunos
GET /api/escolas/:id/professores

//controlador alunos
GET /api/alunos
GET /api/alunos/:id
POST /api/alunos/:id/submeter/:testeid

//controlador testes
GET /api/testes
GET /api/testes/:id